<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="mbApp">
        <span v-bind:title="tooltip" v-cloak v-on:click="clicked">
            {{ message }}
        </span>
        <br />
        <input v-model="message" />
        <span v-if="message.length > 10">
            now you see me
        </span>
        <span v-else>
            now you don't
        </span>
        <ol>
            <li v-for="text in list" :key="text">
                {{text}}
            </li>
        </ol>
        <static-component>before binding</static-component>
        <single>BEFORE BINDING</single>
        <ul>
            <list-item v-for="text in list" v-bind:item="text"></list-item>
        </ul>
        <ul>
            <list-item v-for="monty in montys" v-bind:item="monty.name"></list-item>
        </ul>
        <ul>
            <edit-item v-for="monty in montys" v-bind:monty="monty"></edit-item>
        </ul>
        <span>{{once}}</span>
        <input v-model="once" />
        <span v-once>{{once}}</span>
        <br />
        <input v-model.number="value" />
        <span>{{value}}</span>
    </div>


    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        Vue.component("staticComponent", {
            naem: "staticComponentName",
            template: "<span>This is a static component!</span>"
        });
        Vue.component("single", {
            template: "<span>This is the single component!</span>"
        });
        Vue.component("listItem", {
            props: ["item"],
            template: "<li>{{item}}<input v-model='item'></input></li>"
        });
        Vue.component("editItem", {
            props: ["monty"],
            template: "<li>{{monty.name}}<input v-model='monty.name'></input></li>"
        });

        var app = new Vue({
            data: {
                message: 'Hello Vue!',
                tooltip: "This is the tooltip",
                seen: false,
                list: ["one", "two", "three"],
                montys: [
                    { name: "John" },
                    { name: "Eric" },
                    { name: "Graham" }
                ],
                once: "oneTime",
                value: 3
            },
            methods: {
                clicked: function () {
                    alert("Clicked!");
                }
            }
        });
        app.$mount("#mbApp");
    </script>
</body>
</html>