<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--WIF sections -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.identityModel>
    <identityConfiguration>
      <certificateValidation certificateValidationMode="None" trustedStoreLocation="CurrentUser" revocationMode="NoCheck"/>
    </identityConfiguration>
  </system.identityModel>
  <system.net>
    <settings>
      <httpWebRequest  />
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <windows>
    <system.identityModel>
      <identityConfiguration>
        <certificateValidation certificateValidationMode="None" trustedStoreLocation="CurrentUser" revocationMode="NoCheck"/>
      </identityConfiguration>
    </system.identityModel>
  </windows>
</configuration>