button, input[type=button]{
    background-color: #000020;
    color: #fff;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 10px;
    margin: 5px;
}

button:hover, input[type=button]:hover{
    transform: scale(1.1, 1.2);
    -webkit-transform:  scale(1.1, 1.2);
}
