<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GOOGLE_APPLICATION_CREDENTIALS" value="C:\Git\Bigsby\PoC\DotNet\IntagramClient\GoogleAPIClient\API Project-8161bc2e1786.json"/>
  </appSettings>
</configuration>